body {
    background-color: white;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.animal {
    width: 200px;
    height: 200px;
    background-image: url('/static/img/Podo-Avatar.png');
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}



.container {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}

h1, h2, p {
    margin: 0 0 20px 0;
}

form {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.form-control {
   /* background-color: rgba(0, 0, 0, 0.1); */
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #000;
    outline: none;
}

.btn-primary {
    background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
}


.btn-primary:focus, .btn-primary:active {
    outline: none;
    box-shadow: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    body {
        padding-top: 40%;
    }
    .container {
        padding: 10px;
    }
    .form-control, .btn-primary {
        font-size: 14px;
        width: 100%; 
    }
}
